/* here you can put your own css to customize and override the theme */


.portlet.box.blue-hoki > .portlet-title{
  background-color:#707b88;
}
input.tw-control {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
.fa-ul>li {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dt {
  width: 75%;
  margin: 50px auto;
}

.loading-row{
  height: 100px;
  text-align: center !important;
  line-height: 80px;
}

.treeview .hitarea { 
  height: 21px !important; 
  width: 11px !important; 
  background-position: -13px 5px !important;
}
.treeview .expandable-hitarea {
    background-position: left 5px !important;
}
.tree-name { 
  font-size: 16px; color: #333; 
}
.box-min-height{
  min-height: 400px;
}
.control-label > strong {
    /*color: #707070;*/
    font-weight: 600;
}
.top-buffer{
  margin-top: 30px;
}

.project_list{
  list-style: outside none none;
  padding: 6px;  
}
.ng-binding.ng-scope {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}